@font-face
{
    font-family: "Nanum Barun Gothic";
    src: url("../fonts/NanumBarunGothic.ttf");
}

@font-face
{
    font-family: "Nanum Barun Gothic";
    src: url("../fonts/NanumBarunGothicBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "D2Coding";
    src: url("../fonts/D2Coding.ttf");
}

body
{
    font-family: "Nanum Barun Gothic", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

nav
{
    display: block;
    background-color: #1a1a1d;
    overflow: hidden;
    text-align: center;
}

nav ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav li
{
    display: block;
    margin: 0px;
    padding: 1.25vw;
}

nav a
{
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

nav a:hover
{
    color: #d3d3d3;
}

nav div#logo
{
    margin: 0px;
    padding: 2.5vw;
}

nav #navigation-menu
{
    display: none;
}

nav #navigation-menu.show
{
    display: block;
}

nav #navigation-menu-icon
{
    position: absolute;
    width: 7vw;
    height: 7vw;
    top: 2.5vw;
    right: 3vw;
}

nav #navigation-menu-icon>div
{
    width: 100%;
    height: 20%;
    background-color: white;
    margin: 10% 0;
}

header
{
    display: block;
    color: white;
}

header div.image-container
{
    background-color: #1a1a1d;
    position: relative;
    width: 100%;
    height: 20vw;
}

header div.image-container img
{
    object-fit: cover;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

header div.image-caption
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header div.image-caption h1
{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}

article
{
    display: block;
    color: #1a1a1d;
    text-align: left;
    margin: 0px;
    padding: 3vw;
}

article.center-contents
{
    text-align: center;
}

article>*
{
    margin: 0px;
    margin-bottom: 1.2rem;
}

article :last-child
{
    padding-bottom: 0px;
}

article h1
{
    font-size: 2rem;
    font-weight: bold;
}

article a
{
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #1a1a1d;
}

article .code
{
    font-family: "D2Coding", "Lucida Console", monospace;
    font-size: 1rem;
    box-shadow: 3px 3px 10px #d3d3d3;
    line-height: 0px;
    counter-reset: line;
    overflow: scroll;
    border-radius: 5px;
    padding: 1vw;
}

article .code span
{
    display: block;
    line-height: 1.5rem;
    counter-increment: line;
    margin: 0px;
    padding: 0px;
}

article span::before
{
    display: inline-block;
    width: 1rem;
    content: counter(line);
    margin-right: 0.5rem;
    border-right: 2px solid #d3d3d3;
    padding-right: 0.5rem;
}

article div.webgl-canvas-container
{
    width: 80vw;
    height: 60vw;
    max-width: 800px;
    max-height: 600px;
    margin: auto;
    margin-bottom: 2rem;
    padding: 0px;
}

article div.webgl-canvas-container canvas
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

article #table-of-contents
{
    list-style: none;
    border-top: 2px solid #1a1a1d;
    border-bottom: 2px solid #1a1a1d;
    padding: 0px;
}

article #table-of-contents.hide
{
    display: none;
}

article #table-of-contents li
{
    margin: 0px;
    padding: 1vw;
}

article #table-of-contents li:first-child
{
    padding-top: 2vw;
}

article #table-of-contents li:last-child
{
    padding-bottom: 2vw;
}

article #table-of-contents a
{
    color: #1a1a1d;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

footer
{
    display: block;    
    background-color: #1a1a1d;
    color: white;
    text-align: center;
    padding: 3vw;
}

footer p
{
    margin: 0px;
    padding: 0px;
}

/* Change style when screen width is between 0px and 350px */
@media (max-width: 350px)
{
    body
    {
        font-size: 1rem;
    }

    nav a
    {
        font-size: 1.2rem;
    }

    header div.image-caption h1
    {
        font-size: 1.8rem;
    }

    article *
    {
        margin-bottom: 1rem;
    }

    article h1
    {
        font-size: 1.5rem;
    }
}

/* Change style for large devices */
@media (min-width: 600px)
{   
    body
    {
        font-size: 1.2rem;
    }

    nav ul
    {
        float: right;
    }
    
    nav li
    {
        display: inline-block;
        padding: 1vw;
    }
    
    nav a
    {
        font-size: 1.8rem;
    }

    nav div#logo
    {
        font-size: 1.8rem;
        float: left;
        padding: 1vw;
    }

    nav #navigation-menu
    {
        display: block;
    }

    nav #navigation-menu-icon
    {
        display: none;
    }

    header div.image-caption h1
    {
        font-size: 6rem;
    }

    article
    {
        padding: 2vw 15vw;
    }

    article *
    {
        margin-bottom: 1.5rem;
    }
    
    article h1
    {
        font-size: 2rem;
    }

    article div.webgl-canvas-container
    {
        width: 70vw;
        height: 52.5vw;
    }

    article #table-of-contents li
    {
        padding: 0.5vw;
    }

    article #table-of-contents li:first-child
    {
        padding-top: 1vw;
    }

    article #table-of-contents li:last-child
    {
        padding-bottom: 1vw;
    }

    footer
    {
        padding: 2vw 15vw;
    }
}

/* Change style when screen width is between 600px and 1024px */
@media (min-width: 600px) and (max-width: 1024px)
{   
    header div.image-caption h1
    {
        font-size: 3rem;
    }

    article
    {
        padding: 5vw;
    }

    article div.webgl-canvas-container
    {
        width: 90vw;
        height: 67.5vw;
    }

    footer
    {
        padding: 5vw;
    }
}