body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

nav
{
    background: black;
    display: block;
    overflow: hidden;
}

nav h1
{
    color: white;
    font-size: 1.5em;
    font-weight: normal;
    float: left;
    margin: 0px;
    padding: 10px 20px 10px 20px;
}

nav ul
{
    list-style: none;
    float: right;
    margin: 0px;
    padding: 10px 0px 10px 20px;
    text-align: center;
}

nav li
{
    display: inline-block;
    margin: 0px;
    padding: 0px 20px 0px 0px;
}

nav a
{
    color: white;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
}

header
{
    font-family: Impact, Charcoal, sans-serif;
    display: block;
}

article
{
    display: block;
}

article>h1
{
    font-size: 3em;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

article>p
{
    font-size: 2em;
    text-align: center;
    margin: 0px;
    padding: 0px 100px 20px 100px;
}

footer
{
    display: block;
    background: black;
    color: white;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

footer>p
{
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
}

div.image-container
{
    position: relative;
}

div.image-container img
{
    opacity: 0.8;
    width: 100%;
    height: auto;
}

div.image-caption
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    padding: 0px;
}

div.image-caption h1
{
    text-align: center;
    font-size: 4em;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}

@media (max-width: 850px)
{
    article>h1
    {
        font-size: 2em;
        margin: 0px;
        padding: 10px;
    }
    
    article>p
    {
        font-size: 1.2em;
        margin: 0px;
        padding: 0px 20px 10px 20px;
    }

    div.image-caption h1
    {
        font-size: 2em;
    }
}