body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

nav
{
    background-color: black;
    display: block;
    overflow: hidden;
    text-align: center;
}

nav h1
{
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0px;
    padding: 10px;
}

nav ul
{
    list-style: none;
    margin: 0px;
    padding: 10px;
}

nav li
{
    display: block;
    margin: 0px;
    padding: 0px;
}

nav a
{
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration: none;
}

header
{
    font-family: Impact, Charcoal, sans-serif;
    display: block;
}

article
{
    display: block;
    text-align: center;
}

article h1
{
    font-size: 2rem;
    margin: 0px;
    padding: 10px;
}

article p
{
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px 20px 10px 20px;
}

footer
{
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 10px 20px 10px;
}

footer p
{
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px;
}

div.image-container
{
    position: relative;
}

div.image-container img
{
    opacity: 0.8;
    width: 100%;
    height: auto;
}

div.image-caption
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    padding: 0px;
}

div.image-caption h1
{
    text-align: center;
    font-size: 2rem;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}

/* Change style when screen width is between 0px and 350px */
@media (max-width: 350px)
{
    nav h1
    {
        font-size: 1.2rem;
    }

    nav a
    {
        font-size: 1.2rem;
    }

    article h1
    {
        font-size: 1.8rem;
    }

    article p
    {
        font-size: 1.2rem;
    }

    footer p
    {
        font-size: 1.2rem;
    }

    div.image-caption h1
    {
        font-size: 1.8rem;
    }
}

/* Change style for large devices */
@media (min-width: 700px)
{
    nav h1
    {
        font-size: 1.8rem;
        float: left;
        padding: 20px;
    }
    
    nav ul
    {
        float: right;
        padding: 20px;
    }
    
    nav li
    {
        display: inline-block;
        padding-right: 20px;
    }

    nav li:last-child
    {
        padding-right: 0px;
    }
    
    nav a
    {
        font-size: 1.8rem;
    }
    
    article h1
    {
        font-size: 3rem;
        padding: 20px;
    }
    
    article p
    {
        font-size: 2rem;
        padding: 0px 100px 20px 100px;
    }
    
    footer
    {
        padding: 30px 100px 30px 100px;
    }
    
    footer p
    {
        font-size: 2rem;
    }

    div.image-caption h1
    {
        font-size: 7rem;
    }
}

/* Change style when screen width is between 700px and 1000px */
@media (min-width: 700px) and (max-width: 1000px)
{
    nav h1
    {
        font-size: 1.5rem;
        padding: 10px;
    }
    
    nav ul
    {
        padding: 10px;
    }
    
    nav li
    {
        padding-right: 10px;
    }

    nav a
    {
        font-size: 1.5rem;
    }

    div.image-caption h1
    {
        font-size: 4rem;
    }
}